# HELLO *WORLD*

In [ ]:
print("HELLO WORLD ")

HELLO WORLD

## **DATA** **TYPES**

In [ ]:
a=100
b=10.23
c=100+3j
print("the type of variable having value",a,"is",type(a))
print("the type of variable having value",b,"is",type(b))
print("the type of variable having value",c,"is",type(c))
print("the type of variable having value",a+b,"is",type(a+b))
print("the type of variable having value",b+c,"is",type(b+c))
d=int(15)
print(d) 
print("the type of variable having value",d,"is",type(d))
e=float(10.1)
print(e)
print("the type of variable having value",e,"is",type(e))
f=c+3
print("f=",f)
print("the type of variable f is",type(f))
g=complex(3)
print("g=",g)

the type of variable having value 100 is <class 'int'>
the type of variable having value 10.23 is <class 'float'>
the type of variable having value (100+3j) is <class 'complex'>
the type of variable having value 110.23 is <class 'float'>
the type of variable having value (110.23+3j) is <class 'complex'>
15
the type of variable having value 15 is <class 'int'>
10.1
the type of variable having value 10.1 is <class 'float'>
f= (103+3j)
the type of variable f is <class 'complex'>
g= (3+0j)

# **ARITHMETIC** **OPERATORS**

In [ ]:
a=input("enter first number:")
b=input("enter second number:")
sum=float(a)+float(b)
min=float(a)-float(b)
mul=float(a)*float(b)
div=float(a)/float(b)
print("the sum of {0} and {1} is {2}".format(a,b,sum))
print("the subtraction of {0} and {1} is {2}".format(a,b,min))
print("the multplication of {0} and {1} is {2}".format(a,b,mul))
print("the division of {0} and {1} is {2}".format(a,b,div))

enter first number:10
enter second number:09
the sum of 10 and 09 is 19.0
the subtraction of 10 and 09 is 1.0
the multplication of 10 and 09 is 90.0
the division of 10 and 09 is 1.1111111111111112

In [ ]:
import cowsay
cowsay.daemon("Hi deamon")

ModuleNotFoundError: ignored

 ***MULTILINE*** **COMMANDS**

In [ ]:
name="karthik"
branch="AI and ML"
percentage="89.75"
print("my name is :",name)
print("my branch is:",branch)
print("my percentage is:",percentage)

my name is : karthik
my branch is: AI and ML
my percentage is: 89.75

**MULTIPLE** **ASSIGNMENT**

In [ ]:
X=Y=Z=50
print(X)
print(Y)
print(Z)

50
50
50

In [ ]:
a,b,c=5,10,15
print(a)
print(b)
print(c)

5
10
15

**LOCA**L **VARIABLES**

In [ ]:
def add():
    a=20
    b=30
    c=a+b
    print("the sum is :",c)
    
add()

the sum is : 50

**GLOBAL VARIABLES**

In [ ]:
x=101
def mainfunction():
  global x
  print(x)
  x='welcome to python'
  print(x)
mainfunction()
print(x)

101
welcome to python
welcome to python

# creating , concatenating and printing a string and accessing sub string from a guven string

In [ ]:
#string creation
s1='string in single quote'
s2="string in double quote"
s3="'string in triple quote'"
s4='.'
s5='Newsletter'
#printing string
print(s1) 
print(s2)
print(s3)
#string concatenation
s6=s1+s2+s3
print("concatenated string=",s6)
print("fruits are apples,orange,grape,stc",s4*3)
#substrring or slicing
print("substring of",s5,"=",s5[4:7])
print("substring of",s5,"=",s5[:4])
print("substring of",s5,"=",s5[4:])
print("substring of",s5,"=",s5[::2])
print("substring of",s5,"=",s5[-6:-1])
print("substring of",s5,"=",s5[-6:])
print("substring of",s5,"=",s5[-10:-6])
print("REVERSE of",s5,"=",s5[::-1])

string in single quote
string in double quote
'string in triple quote'
concatenated string= string in single quotestring in double quote'string in triple quote'
fruits are apples,orange,grape,stc ...
substring of Newsletter = let
substring of Newsletter = News
substring of Newsletter = letter
substring of Newsletter = Nwlte
substring of Newsletter = lette
substring of Newsletter = letter
substring of Newsletter = News
REVERSE of Newsletter = rettelsweN

 **PRINT THE CURRRENT DATE**

In [ ]:
import datetime
from datetime import datetime
now=datetime.now()
current_time=now.strftime("%H:%M:%S")
current_year=now.strftime("%Y")
current_month=now.strftime("%B")
current_day=now.strftime("%a")
current_date=now.strftime("%d")
print("{}{}{}{} IST {}".format(current_day,current_month,current_date,current_time,current_year))

WedSeptember2908:22:26 IST 2021

** Strings programmes**

In [ ]:
str="string using double quotes"
print(str)
s="a multiline story"
print(s)

string using double quotes
a multiline story

In [ ]:
str1='hello nihal'
str2='how are you'
print(str1[0:2])
print(str1[4])
print(str1*2)
print(str1+str2)

he
o
hello nihalhello nihal
hello nihalhow are you

In [ ]:
list=[1,"hi","python",2]
print(type(list))
print(list[3:])
print(list[0:2])
print(list+list)
print(list*3)

<class 'list'>
[2]
[1, 'hi']
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2]
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2, 1, 'hi', 'python', 2]

In [ ]:
tup=("hi","python",2)
print(type(tup))
print(tup)
print(tup[1:])
print(tup[0:1])
print(tup+tup)
print(tup*3)

<class 'tuple'>
('hi', 'python', 2)
('python', 2)
('hi',)
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)

In [ ]:
d={1:'jimmy',2:'alex',3:'john',4:'mike'}
print(d)
print("1ST name is",+d[1])
print("4TH name is",+d[4])
print(d.keys())
print(d.values())

{1: 'jimmy', 2: 'alex', 3: 'john', 4: 'mike'}

TypeError: ignored

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
s1=set()
s2={'James',2,3,'python'}
print(s2)
s2.add(10)
s2.remove(2)

{2, 3, 'James', 'python'}

In [ ]:
a=20
b=10
a+b
a-b
a/b
a%b
a**b
a//b

2

In [ ]:
x=24
list1=[10,20,30,40,50]
if(x in list1):
  print("x is in given list")
else:
  print("x is not in given list")

x is not in given list

In [ ]:
x=5
if(type(x) is int):
  print("true")
else:
  print("false")

true

In [ ]:
x=1.0
if(type(x) is not int):
  print("true")
else:
  print("false")

true

In [ ]:
num=int(input("enter your number"))
add=num+1
add

enter your number25

26

**AIM**:TO write a program to create,append,and remove lists in python

In [ ]:
lst = []
choice=1
while choice!=0:
    print("0. Exit")
    print("1. Add")
    print("2. Delete")
    print("3. Display")
    choice=int(input("Enter choice: "))
    if choice==1:
        n=int(input("Enter number to append: "))
        lst.append(n)
        print("List: ",lst)
    elif choice==2:
        if len(lst)==0:
           print("List is empty, no item to remove:")
           print()
           continue
        n=int(input("Enter number to remove: "))
        if n not in lst:
            print("The item to be removed not in list:")
            print()
            continue
        lst.remove(n)
        print("List: ",lst)
    elif choice==3:
        print("List: ",lst)
    elif choice==0: 
        print("Exiting!")
    else:
        print("Invalid choice!!") 
        print()

0. Exit
1. Add
2. Delete
3. Display
List:  [25]
0. Exit
1. Add
2. Delete
3. Display
List:  [25, 12]
0. Exit
1. Add
2. Delete
3. Display
List:  [25, 12, 34]
0. Exit
1. Add
2. Delete
3. Display
List:  [25, 12, 34, 15]
0. Exit
1. Add
2. Delete
3. Display
Invalid choice!!

0. Exit
1. Add
2. Delete
3. Display
List:  [25, 12, 34, 15, 10]
0. Exit
1. Add
2. Delete
3. Display
List:  [12, 34, 15, 10]
0. Exit
1. Add
2. Delete
3. Display
List:  [12, 34, 15, 10]
0. Exit
1. Add
2. Delete
3. Display

In [ ]:
tup1 = ('jan','feb','mar','apr','may','june','july','august','september','october','november','december')
tup2 = (1, 2, 3, 4, 5)
tup3=(1, "Hello", (11, 22, 33))
tup4=('India',[10,20,30],'USA')
#print the tuple
print(tup1)

#iterating in tuple 
for mon in tup1:
    print(mon)

#accessing the tuple element
print("The element in the 5th position : ",tup1[5])
print(tup1[-6])
print("Tuple before addition")
print(tup2)
tup2 = tup2 + (7,) 
print("Tuple after addition")
print(tup2)
tup2=tup2+('apple','orange','banana')
print(tup2)

#accessing nested tuple element 
print(tup3[2][1])

#tuple element is mutable, element change is possible 
print("Tuple before change")
print(tup4)
tup4[1][2]=40
print("Tuple after change")
print(tup4)

#Slicing operation in tuples
print(tup1[2:5])
print(tup1[4:])
print(tup1[:4])

#finding position of the element
print("The position of 'october' in the tuple: ",tup1.index('october'))

('jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december')
jan
feb
mar
apr
may
june
july
august
september
october
november
december
The element in the 5th position :  june
july
Tuple before addition
(1, 2, 3, 4, 5)
Tuple after addition
(1, 2, 3, 4, 5, 7)
(1, 2, 3, 4, 5, 7, 'apple', 'orange', 'banana')
22
Tuple before change
('India', [10, 20, 30], 'USA')
Tuple after change
('India', [10, 20, 40], 'USA')
('mar', 'apr', 'may')
('may', 'june', 'july', 'august', 'september', 'october', 'november', 'december')
('jan', 'feb', 'mar', 'apr')
The position of 'october' in the tuple:  9

In [ ]:
mon={1:'jan',2:'feb',3:'mar',4:'apr',5:'may',6:'june'}
stud={'kiran':23,'kumar':20,'dinesh':19,'rakesh':21}

print("mon Dictionary is ",mon)
print("The element in the key position 3 is :",mon[3])
print("The mon dictionary values are: ",mon.values())
print("The mon dictionary keys are: ",mon.keys())

#adding an item in the dictionary 
print("Before addition")
for item in mon.values():
    print(item,end=' ')

mon[7]='july' 
print()
print("After addition")
for item in mon.values():
    print(item,end=' ')
    print()
print("Before deletion")
for item in stud.values():
    print(item,end=' ')
    print()
    
del stud['kumar']

print("After deletion")
for item in stud.values():
    print(item,end=' ')
    print()

print("Before change")
print("stud Dictionary is ",stud)
stud['dinesh']=55
print("After change")
print("stud Dictionary is ",stud)

print("Key value pair of dictionary")
print(stud.items())

mon Dictionary is  {1: 'jan', 2: 'feb', 3: 'mar', 4: 'apr', 5: 'may', 6: 'june'}
The element in the key position 3 is : mar
The mon dictionary values are:  dict_values(['jan', 'feb', 'mar', 'apr', 'may', 'june'])
The mon dictionary keys are:  dict_keys([1, 2, 3, 4, 5, 6])
Before addition
jan feb mar apr may june
After addition
jan
feb
mar
apr
may
june
july
Before deletion
23
20
19
21
After deletion
23
19
21
Before change
stud Dictionary is  {'kiran': 23, 'dinesh': 19, 'rakesh': 21}
After change
stud Dictionary is  {'kiran': 23, 'dinesh': 55, 'rakesh': 21}
Key value pair of dictionary
dict_items([('kiran', 23), ('dinesh', 55), ('rakesh', 21)])

In [ ]:
num1 = float(input("Enter number 1: ")) 
num2 = float(input("Enter number 2: ")) 
num3 = float(input("Enter number 3: "))
big=num1
if (big<num2):
    big=num2
if (big<num3):
    big=num3
print("The Biggest number among the three is : ",big)

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
The Biggest number among the three is :  3.0

# EXPERIMENT 9:CHANGE OF TEMPARATURE SCALES

In [1]:
# Convertion from celsius to Farenheit

celsius=float(input("Enter the temperature in celcius:"))
f=(celsius*1.8)+32
print("Temperature in farenheit is:", round(f,1))

# Convertion from Fahrenheit to Celsius

fahrenheit = float(input("Enter Temperature in Fahrenheit: ")) 
c = (fahrenheit-32)/1.8
print("Temperature in Celsius is =", round(c,1))

Enter the temperature in celcius:40
Temperature in farenheit is: 104.0
Enter Temperature in Fahrenheit: 104
Temperature in Celsius is = 40.0

#   EXPMT -10

# **PRINTING PATTERNS**

In [2]:
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
for i in range(0, n):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i + 1):  
            # printing stars  
            print("* ", end="")       

            # ending line after each row  
        print()
for i in range(n, 1, -1):
    for j in range(1,i):
        print("* ",end="")
    print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#PRINTING PRIME NUMBERS LESS THAN 20  (EXPMT-11)

In [3]:
start_val = 1
n = int(input("Enter the n number:"))
for num in range(start_val, n+1):
    if(num>1):
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

Enter the n number:20
2
3
5
7
11
13
17
19

# EXPMT12:  RECURSION

In [4]:
def factorial(n): 
    if n == 1:
       return n
    else:
       return n* factorial(n-1)

# take input from the user
num = int(input("Enter a number: "))

# check if the number is negative
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of",num,"is", factorial(num))

Enter a number: 5
The factorial of 5 is 120

# EXPMNT 13:  RIGHT ANGLED TRIANGLE

In [5]:
s1=int(input("Side 1 of the triangle ")) 
s2=int(input("Side 2 of the triangle "))
s3=int(input("Side 3 of the triangle "))
big = max(s1,s2,s3)
if(big==s1): 
    if(s1**2 == (s2**2 + s3**2)):
        print("The triangle sides given is a right angled triangle", s1**2, (s2**2+s3**2))
    else:
        print("The triangle sides given is not right angled triangle",s1**2, (s2**2+s3**2))
elif(big==s2):
      if(s2**2==(s1**2+s3**2)):
          print("The triangle sides given is a right angled triangle",s2**2,(s1**2+s3**2))
      else:
        print("The triangle sides given is not right angled triangle", s2**2,(s1**2+s3**2))
elif(big==s3):
      if(s3**2==(s1**2+s2**2)):
        print("The triangle sides given is a right angled triangle",s3**2,(s1**2+s2**2))
      else:
        print("The triangle sides given is not right angled triangle", s3**2, (s1**2+s2**2))

Side 1 of the triangle 5
Side 2 of the triangle 4
Side 3 of the triangle 3
The triangle sides given is a right angled triangle 25 25